Logs/
Packages/
Server/
Library/
obj/
Temp/

*.sln
*.csproj
*.userprefs

.DS_Store
.DS_Store?
._*
.Spotlight-V100

endless-sidescroller-ios
endless-sidescroller-macos.app
endless-sidescroller-webgl
endless-sidescroller-android.apk
